# Project exclude paths
/backend/target/
.env

# Frontend dependencies & build
frontend/node_modules/
frontend/dist/

# Archivos temporales
tmp/
hs_err_pid*.log

# Imágenes pesadas (como las satelitales)
*.tif

# Archivos de IDE
.idea/
.vscode/
